<div class="sidebar">
    <h2>LMB Freight</h2>
    <ul>
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li>
            <a href="{% url 'carrier_list' %}">Carriers</a>
            <ul style="margin-left: 15px; list-style-type: disc;">
                {% for carrier in carriers %}
                    <li><a href="{% url 'carrier_detail' carrier.pk %}">{{ carrier.name }}</a></li>
                {% empty %}
                    <li><em>No carriers yet</em></li>
                {% endfor %}

            </ul>
        </li>
    </ul>
</div>