{% extends 'base.html' %}
{% load static %}

{% block title %}LMB | Carriers {% endblock %}

{% block content %}
    <div class="main-content">

        <div class="controls">
            <a href="{% url 'add_carrier' %}" class="button">Add New Carrier</a>
        </div>

        <table class="data-table">
            <thead>
                <tr>
                    <th>Carrier Name</th>
                    <th>Contact Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for carrier in carriers %}
                <tr>
                    <td>{{ carrier.name }}</td>
                    <td>{{ carrier.contact_name }}</td>
                    <td>{{ carrier.email }}</td>
                    <td>
                        <a href="{% url 'carrier_detail' carrier.pk %}" class="button view-button">View</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No carriers available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}